/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  display: block;
  list-style: none;
  height:auto;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

/* .disable-pointer-events {
  pointer-events: none !important;
} */



.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 481px) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle, .nav-collapse {
    display: none;
  }
}

/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse, .nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse, .nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}
.nav-collapse li:last-child {padding-bottom:10px;}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 20%;
    *width: 19.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}

#nav .nav-collapse li a, #nav-top .nav-collapse li a {height:32px;}

.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #f4421a;
  border-bottom: 1px solid white;
  padding: 0.7em 1em 1em 1em;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 1em 1em 2em 0;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 0;
}

@media screen and (min-width: 481) {
  .nav-collapse ul ul a {
    display: none;
  }
}

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 35px;
  float: none;
  margin:0 auto;
}

.nav-toggle:before {
  color: #ffffff; /* Edit this to change the icon color */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 35px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content:"x";
}

@media screen and (min-width:481px) {
#nav a.nav-toggle, #nav ul.tinynavNaN, #nav ul.nav-collapse, #nav-top a.nav-toggle, #nav-top ul.tinynavNaN, #nav-top ul.nav-collapse {display: none;}
}

